#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

#home {
    position: relative;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
}